.main-container {
  width: 100%;
  max-width: 1280px;
  
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 20px;
  box-sizing: border-box;
  overflow: hidden;

  @media (max-width: 767px) {
    display: block;
  }
}
