.offer-cell__header {
  margin: 0;

  font-size: 12px;
  line-height: 18px;
  color: $medium-text;
  text-transform: uppercase;
}

.offer-cell__value {
  margin: 0;
  
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
