.offer {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  cursor: pointer;
}

.offer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer__price {
  margin: 0;
  font-size: 24px;
  line-height: 1;
  color: #2196F3;
}

.offer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0;
}

.offer__list-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}
