.offer {
  padding: 20px;
  padding-top: 17px;

  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;

  &__header {
    margin-bottom: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    margin: 0;

    font-size: 24px;
    line-height: 1;
    color: #2196F3;

    @media (max-width: 380px) {
      max-width: 120px;
      font-size: 20px;
    }
  }

  &__logo {
    @media (max-width: 380px) {
      max-width: 100px;
    }
    
  }

  &__list {
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    list-style: none;
  }

  &__list-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    align-items: baseline;

    &:not(:last-child) {
      @media (max-width: 380px) {
        padding-bottom: 10px;
        border-bottom: 1px solid #A0B0B9;
      }
    }

    @media (max-width: 380px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 10px;
    }
  }
}
