.offer-cell {

  &__header {
    margin: 0;

    font-size: 12px;
    line-height: 18px;
    color: #A0B0B9;
    text-transform: uppercase;
  }

  &__value {
    margin: 0;
    
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
  }
}
