.offer {
  padding: $primary-indent;
  padding-top: 17px;

  background-color: $color-2;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.offer__header {
  margin-bottom: 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer__price {
  margin: 0;

  font-size: 24px;
  line-height: 1;
  color: $color-3;

  @media (max-width: $min-width) {
    max-width: 120px;
    font-size: 20px;
  }
}

.offer__logo {
  @media (max-width: $min-width) {
    max-width: 100px;
  }
}

.offer__list {
  padding: 0;
  margin: 0;
  
  display: flex;
  flex-direction: column;
  row-gap: $secondary-indent;

  list-style: none;
}

.offer__list-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: $primary-indent;
  align-items: baseline;

  @media (max-width: $min-width) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: $secondary-indent;
  }

  &:not(:last-child) {
    @media (max-width: $min-width) {
      padding-bottom: $secondary-indent;
      border-bottom: 1px solid #A0B0B9;
    }
  }
}
