.page-header {
  margin-bottom: 44px;

  &__wrapper {
    min-height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    border-radius: 50%;
    background-color: #2196F3;
    box-shadow: 0 9px 11px 0 rgba(55, 104, 142, 0.25);
  }
}
