.page-header {
  margin-bottom: 44px;

  width: 100%;
  min-height: 65px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  @media (max-width: 767px) {
    margin-bottom: 10px;
    min-height: 40px;
  }
}

.page-header__logo {
  border-radius: 50%;
  background-color: #2196F3;
  box-shadow: 0 9px 11px 0 rgba(55, 104, 142, 0.25);

  @media (max-width: 767px) {
    width: 40px;
    height: 40px;
  }
}
