.page-header {
  margin-bottom: 44px;
}

.page-header__wrapper {
  max-height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header__logo {
  background-color: #2196F3;
  border-radius: 50%;
  box-shadow: 0 9px 11px 0 rgba(55, 104, 142, 0.25);
}
