.transfer-form__fieldset {
  margin: 0;

  border: none;
  border-radius: 5px;
  background-color: $color-light;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  @media (max-width: $desktop) {
    padding: $primary-indent;
    margin-bottom: $secondary-indent;

    display: grid;
    row-gap: $secondary-indent;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
    grid-template-columns: repeat(5, 1fr);
    column-gap: $primary-indent;
  }

  @media (min-width: $desktop) {
    padding: $primary-indent 0 $secondary-indent;
  }
}

.transfer-form__title {
  margin: 0;
  margin-bottom: $secondary-indent;
  
  font-size: 12px;
  line-height: 1;
  font-weight: 600; 
  letter-spacing: 0.5px;
  text-transform: uppercase;

  @media (max-width: $desktop) {
    margin: 0;
    grid-column: 1/-1;
  }

  @media (min-width: $desktop) {
    padding: 0 $primary-indent;
  }
}

.transfer-form__checkbox-label {
  display: grid;
  grid-template-columns: 20px 1fr;
  column-gap: $secondary-indent;
  align-items: center;
  
  cursor: pointer;

  @media (max-width: $desktop) {
    margin-bottom: 0;
    column-gap: 5px;
  }

  @media (min-width: $desktop) {
    padding: 10px 20px;
  }

  &:hover {
    background-color: $hover-color;
  }

  &--without {
    grid-column: 2/-1;

    @media (min-width: $tablet) and (max-width: $desktop) {
      grid-column: 1/2;
    }
  }

  &--all {
    @media (min-width: $tablet) and (max-width: $desktop) {
      grid-row: 2;
      grid-column: 2/3;
    }
  }
}

.transfer-form__checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;

  &:checked + .transfer-form__checkbox-mark {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.28571 8L0 4.16123L1.20857 3.07869L4.28571 5.82726L10.7914 0L12 1.09021L4.28571 8Z' fill='%232196F3'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &:hover + .transfer-form__checkbox-mark {
    border-color: #1963a0;
  }

  &:disabled + .transfer-form__checkbox-mark,
  &:disabled ~ .transfer-form__checkbox-name {
    opacity: 0.3;
  }

  &:focus + .transfer-form__checkbox-mark {
    outline: 1px solid #1963a0;
  }
}

.transfer-form__checkbox-mark {
  width: 20px;
  height: 20px;

  border: 1px solid $color-accent;
  border-radius: 2px;
  box-sizing: border-box;
}

.transfer-form__checkbox-name {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;

  @media (max-width: $desktop) {
    display: none;
  }

  &--mobile {
    display: none;

    font-size: 13px;
    line-height: 20px;
    font-weight: 400;

    @media (max-width: $desktop) {
      display: block;
    }

    &-all,
    &-without {
      display: block;
    }
  }
}
