html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;

  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #4a4a4a;

  background-color: #E5E5E5;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

button {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
}

.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;

  border: none;
  position: absolute;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
