// text-colors
$dark-text: #4A4A4A;
$medium-text: #A0B0B9;
$light-text: #ffffff;

// width for media queries
$desktop: 767px;
$tablet: 480px;
$mobile: 380px;

// colors
$color-dark: #E5E5E5;
$color-light: #ffffff;
$color-accent: #2196F3;
$hover-color: #F1FCFF;

// indents
$primary-indent: 20px;
$secondary-indent: 10px;
