// text-colors
$dark-text: #4A4A4A;
$medium-text: #A0B0B9;
$light-text: #ffffff;

// width for media queries
$max-width: 767px;
$medium-width: 480px;
$min-width: 380px;

// colors
$color-1: #E5E5E5;
$color-2: #ffffff;
$color-3: #2196F3;

// indents
$primary-indent: 20px;
$secondary-indent: 10px;
